.project {
    // box-sizing: border-box;
    float: left;
    padding: 0px;
    position:relative;
    
    display: inline-flex;
    
    width: 100%;
    margin: 5px;
    
    border: 1px solid $grey-color-light;
    min-height: 90px;
      
    .project_thumbnail {
        float: left; 
        width: 20%;
        height: 100%;
        min-width: 40px;
        max-width: 140px;
        
        margin: auto 0px;
        
        .aligned_image {
            float: left;
            width: 100%;
            vertical-align: middle;
        }
    }
            
    .project_text {
        width: 78%;
        height: 100%;
        min-width:150px;
        float: left;

        margin: auto 0px;

        padding: 0px;
                        
        span {
            vertical-align: middle;
            color: $text-color;
            text-align: center;
            height: 100%;
            
            h3 {
                font-size: 1.0rem;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }

            p {
                color: $text-color;
                font-size: $base-font-size;
                margin: 0;
                padding-left: 5px;
            }
        }        
    }
}
